body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

#ContenedorLogin {
    border-radius: 20px;
    width: 350px;
}


.opacity {
    background-color: transparent;
}

#ImgLogo {
    height: 65%;
    width: 65%;
    margin-top: -95px;
    margin-bottom: 15px;
}

.DivBottom {
    margin-bottom: 0px;
}

#principal {
    margin-top: 0px;
    margin-bottom: 0px;
}

#piedepagina {
    margin: 0px 0px 15px;
}
