
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- TITLE -->
    <title>TELEFONIA </title>
    <link rel="icon" href="~/Recursos/Telefono.png"type="image/x-icon">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="~/Estilos/materialize.css" rel="stylesheet">

    <!-- CSS -->
    <link href="~/Estilos/Login.css" rel="stylesheet">

</head>
<body>
    <!-- HEADER -->
    <header>
        <nav>
            <div class="nav-wrapper  col l12 m12 s12" style="background-color:#1E317D;" id="encabezado">
                <a class="brand-logo center col l12 m12 s12" style="font-weight:700">
                    DASHBOARD DE TELEFONIA
                </a>

                <ul id="nav-mobile" class="right hide-on-med-and-down" hidden="">
                    <li id="LoginError"></li>
                </ul>

            </div>
        </nav>
    </header>

    <!-- BODY -->

    <main>
        <div class="row center" style="margin-bottom:0px;">
            <div class="col l12 m12 s12 center">
                <div class="row center">
                    <div class="col l4 m6 s8 offset-l4 offset-m3 offset-s1">
                        <div class="row center" style="margin-top: 28%;" id="principal">
                            <form method="post" autocomplete="off">
                                <div id="ContenedorLogin" class="col l8 m10 s12 offset-l2 offset-m1 offset-s1 opacity z-depth-5 center" style="display: none;">
                                    <img id="ImgLogo" src="~/Recursos/LogoGaleno.png" class="circle responsive-img z-depth-4">
                                    <div class="row">
                                        <div class="input-field col l10 m10 s10 offset-l1 offset-m1 offset-s1">
                                            <i class="material-icons prefix">account_box</i>
                                            <input id="txtUsr" name="txtUsr" placeholder=" " type="text" class="validate" autofocus />
                                            <label for="txtUsr" class="black-text active"><strong>Usuario</strong></label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col l10 m10 s10 offset-l1 offset-m1 offset-s1">
                                            <i class="material-icons prefix">lock</i>
                                            <input id="txtPas" name="txtPas" placeholder=" " type="password" class="validate" required />
                                            <label for="txtPas" class="black-text active"><strong>Contraseña</strong></label>
                                        </div>
                                    </div>
                                    <div class="row center" style="margin-bottom: 25px;">
                                        <button id="btnLogin" type="button" class="waves-effect waves-light btn" style="border-radius:10px; background:#1E317D;">Ingresar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- FOOTER -->
    <footer class="page-footer" style="background-color:#1E317D;">
        <div class="row" id="piedepagina">
            <div class="col offset-l1 offset-s1 offset-m1 col s6 m4 l4 ">
                Hecho por <a class="orange-text text-lighten-3" href="#">Farmacias Galeno</a>
            </div>
        </div>
    </footer>

    <script src="~/Scripts/jquery-3.4.1.js"></script>
    <script src="~/Scripts/materialize.js"></script>

    <!-- JAVASCRIPT -->
    <script src="~/Scripts/Login.js"></script>

</body>
</html>